.body
{
    background:whitesmoke;
}
.addButton
{
    padding:auto;
    margin-left: 5%; 
    text-align: right;
}
.h1
{
    color: rgb(45, 45, 85);
    text-align: center; 
    padding-bottom: 0px ;
    margin-bottom: 2%;
    
}
.current
{
    padding:3%;
    font-size: large;

}
.addTask
{
    margin-top:auto;
    margin-bottom:auto;
    
    

}
.list
{
    padding:7%;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin:30px;
    border:5px solid gray ;
    
}
.taskalign
{
    text-align: center;
    margin:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
     
    padding: 5px;
}
.completedtaskalign
{
    text-align: center;
    margin:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    scroll-behavior: smooth;
     
    padding: 5px;
}
